html,
body {
	height: 100%;
	margin: 0;
	background: linear-gradient(to top, #011209, #263238);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	height: 100%;
	width: 100%;
}